.container{ 
    width: 1140px;       
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;     
}
.catalog_container{
    width: 263px;
    height: min-content;     
    position: relative;   
    background: var(#FFFFFF);
    text-align: center;  
}
.catalog_container:hover{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);  
}
.catalog_container li{
    list-style-type: none;
}
.container_icon{
    position: absolute;
    right: 16px;
    top: 21px;
}
.container_img{
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    padding: 74px 32px 54px 32px;
    padding-inline-start: 0;
}