.p_catalog_desc{
    margin-left: 140px;
}
.container{ 
    width: 1140px;       
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;     
}
.catalog_container{  
    height: 600px;     
    position: relative;   
    background: var(--bgColor-link);    
}
.catalog_container:hover{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);   
    :last-child{
    display: block;
}    
}
.catalog_container li{
    list-style-type: none;
}
.container_icon{
    position: absolute;
    right: 16px;
    top: 21px;
}
.container_img{
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    padding: 74px 32px 54px 32px;
    padding-inline-start: 0;
}
.collection_description{  
    font-weight: 400;    
    font-size: 12px;
    line-height: 14px;  
    color: var(--bgColor-inputPlacegolder);   
}
.collection_size{   
    display: flex; 
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: var(--bgColor-titleDes-size); 
    justify-content: space-between;
}

.catalog_container_size{ 
    display: none;
}
.product_color{
    width: 40px;
    height: 40px;    
}
